span{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    border-color: black;
    background-color: blueviolet;
    color: aquamarine;
}
h3{
    background-color: aquamarine;
    color: blueviolet;
    font-size: 30px;
    margin: 0.2px;
    margin-bottom: -16px;
border: 2px solid black;
}
.sorry{
    background-color: red;
}
.me{
    background-color: rgb(92, 45, 146);
    color: brown;
    height: 200px;
    width: 200px;
    border: 2px dotted red;
    border-radius: 5px;
}
.bj{
    background-color: blueviolet;
    color: rgb(202, 232, 33);
    font-size: 25px;
}
#cool{
    background-color: rgb(50, 193, 37);
    border: 2px double blue;
    width: 60%;
    height: 100%;
}
td{
    /* border: 2px solid rgb(164, 13, 13); */
    background-color: rgb(71, 174, 174);
    text-align: center;
    color: bisque;
    font-size: 22px;
}
td:hover{
    background-color: brown;
}
caption{
    color: rgb(219, 117, 22);
    font-style: oblique;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p:hover{
    background-color: aquamarine;
    font-style: italic;
} 
.prt{
    background-color: aquamarine;
}
div:hover{
    background-color: rgb(229, 236, 24);
 
}
nav{
    background-color: rgb(104, 132, 163);
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
a:hover {
    
    color: rgb(180, 212, 38);
    font-style: italic;
}
ul{
    font-style: italic;
    list-style:lower-greek;
}
li{
    font-style: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    background-color: black;
    color: wheat;
    width: 50%;
}
footer:hover{
    background-color: blue;
}
a{
    color: rgb(34, 223, 69);
}